<body>
<div class="container-fluid" style="height: 100vh">

<form class="form-inline d-flex mt-4 w-50">
  <input class="form-control mr-sm-4 text-center" type="search" placeholder="Ville/pays" aria-label="Search">
  <button class="btn btn-secondary" type="submit" style="margin-right: 12px;">Chercher</button>
</form>
  <div class="row mt-3">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <div id="flag"></div>
          <div id="weather-info"></div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h1 class="text-center">Recent checks (10)</h1>
            <div class="d-flex justify-content-between">
                <div>Location</div>
                <div>Temperature</div>
                <div>Weather</div>
                <div>Date</div>
            </div>

            <% Visitor.order(created_at: :desc).limit(10).each do |visitor| %>
              <ul>
                <img src="https://flagcdn.com/w20/<%= visitor.countryCode.downcase %>.png"
                srcset="https://flagcdn.com/w40/<%= visitor.countryCode.downcase %>.png 2x"
                width="20"
                alt="<%= visitor.country %>">
                 <%= visitor.city %>
              </ul>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
