<%= javascript_include_tag 'ip_api' %>

<div class="container">
  <div class="row justify-content-center mt-5 mb-5">
    <div class="col-md-6">
      <form class="form-inline d-flex">
        <input class="form-control mr-sm-2" type="search" placeholder="Recherche" aria-label="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Rechercher</button>
      </form>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <div id="flag"></div>
          <div id="weather-info"></div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          Contenu de la deuxième div (50% de la largeur)
        </div>
      </div>
    </div>
  </div>
</div>
